@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ptsans-400.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/ptsans-700.woff2') format('woff2');
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  min-height: 100%;
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 22px;
  line-height: 26px;
  background-color: #f2f2f2;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.main-index {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.button {
  border: none;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.main-header {
  display: flex;
  align-items: flex-start;
  color: #000000;
  padding: 0 70px;
  margin-bottom: -6px;
  position: relative;
}

.navigation-logo {
 display: flex;
 margin-right: 28px;
}

.navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.navigation-list {
  display: flex;
  padding: 20px 16px;
  margin: 0;
  list-style: none;
}

 .navigation-item {
  position: relative;
  margin-right: 32px;
 }

 .navigation-item:last-of-type {
  margin-right: 0;
 }

 .navigation-item_active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #756257;
  left: 0;
  bottom: -17px;
 }

.navigation-link {
  display: inline-block;
  position: relative;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
}

.user-item {
  display: flex;
  align-items: center;
}

.user-item:nth-last-child(2) {
 margin-right: 20px;
}

.user-link {
  width: 44px;
  height: 64px;
}

.search-link {
  background-image: url("/images/search-user-menu.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.wishlist-link {
  background-image: url("/images/heart-user-menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.wishlist-link::after{
  display: flex;
  justify-content: center;
  align-items: center;
  content: "12";
  position: absolute;
  top: 11px;
  right: 4px;
  width: 20px;
  height: 20px;
  font-size: 10px;
  line-height: 10px;
  background-color: #7db54f;
  border-radius: 50%;
  color: #ffffff;
  font-weight: 400;
}

.navigation-user {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.button-navigation {
  display: flex;
  padding: 8px 34px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.hero-welcome {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.hero {
  background-image: url('../images/hero-background.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #756157;
  padding: 51px 51px 82px 51px;
}

.advantages-heading {
  padding: 69px 270px 90px 270px;
}

.advantages-head-title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 25px 0;
}

.description-head-title {
  margin: 0;
  line-height: 26px;
  text-align: center;
}


.advantages-card {
  display: flex;
}

.sedona-town {
  max-width: 100%;
  height: auto;
}
.advantages-card-content {
  color: #ffffff;
  background: #82b3d3;
  width: 400px;
  padding: 92px 85px 111px 85px;
}

.advantages-card-title {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 62px 0;
  position: relative;
}

.advantages-card-title::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 62px 0;
  position: relative;
}

.advantages-title::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-item {
  width: 400px;
  padding: 103px 85px 121px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
}

.diablo-bridge {
  max-width: 100%;
  height: auto;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-item {
  width: 400px;
  padding: 182px 85px 81px;
  background-color: rgba(131, 179, 211, 0.12);
}

.features-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0);
}

.features-title {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 30px 0;
  position: relative;
}

.features-title::before {
  content: "";
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  background-repeat: no-repeat;
}

.features-house::before {
 background-image: url("/images/features-house.svg");
  width: 75px;
  height: 72px;
}

.features-food::before {
  background-image: url("/images/features-food.svg");
  width: 74px;
  height: 70px;
}

.features-souvenirs::before {
  background-image: url("/images/features-souvenirs.svg");
  width: 64px;
  height: 76px;
}

.features-description{
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;
}

.search-hotel {
 padding: 96px 304px;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}
.search-description {
  line-height: 26px;
  text-align: center;
  margin: 0 0 54px 0;
}

.button-search-hotel {
  display: block;
  width: 376px;
  padding: 8px;
  text-align: center;
  margin: 0 auto;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.subscribe {
  background-image: url('../images/subscribe-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #756157;
  padding: 96px 258px 104px;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  margin: 0 0 20px 0;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe-description {
  text-align: center;
  color: #ffffff;
  margin: 0 0 54px 0;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.subscribe-button {
  display: block;
  min-width: 232px;
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  padding: 8px;
  text-align: center;
  cursor: pointer;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 45px 70px 35px 82px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  width: 142px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social-link {
 display: flex;
 width: 47px;
 height: 40px;
 align-items: center;
 justify-content: center;
}

.page-footer-phone {
  width: 720px;
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

.filter-hotel {
  background-image: url('../images/filter-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #756157;
  padding: 35px 70px 70px;
}

.hotel-sedona {
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  margin: 0 0 8px 0;
}

.breadcrumbs {
  display: flex;
  padding: 0;
  margin: 0 0 40px 0;
  list-style: none;
}

.breadcrumbs-item {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
}

.filter-wrapper {
  display: flex;
}

.catalog-filter-block {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin: 0 70px 0 0;
  padding: 0;
  border: none;
}

.catalog-filter-block:last-child {
  margin: 0;
}

.catalog-filter-title {
  display: block;
  padding: 0;
  margin: 0 0 32px 0;
}

.wrapper-price {
  display: flex;
}

.field-min-price {
  margin-right: 2px;
}

.min-price {
  width: 143px;
  height: 48px;
  padding: 0;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #f2f2f2;
}

.max-price {
  width: 143px;
  height: 48px;
  padding: 0;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #f2f2f2;
}

.catalog-filter-item {
margin-bottom: 16px;
}
.catalog-filter-item:last-child {
  margin: 0;
}

.catalog-fitler-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.control {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.button-filter {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.button-apply {
  display: block;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #82b3d3;
  text-transform: uppercase;
  padding: 8px;
  margin: 0 0 32px 0;
}

.button-throw {
  display: block;
  min-width: 191px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background: transparent;
  text-transform: uppercase;
  padding: 8px;
  margin: 0;
}

.filter-result {
  padding: 50px 70px 60px 70px;
}

.sort-result {
  display: flex;
  margin-bottom: 40px;
}

.filter-search-hotel {
  display: block;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  padding: 0;
  margin: 0 200px 0 0;
  text-transform: uppercase;
}

.select-control {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  line-height: 21px;
  padding: 0;
  margin: 0;
  width: 292px;
  height: 49px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
}

.card-view {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-left: auto;
  list-style: none;
 }

 .view-item {
  margin-right: 8px;
 }

 .view-item:last-child {
  margin-right: 0;
 }

.view-button {
  display: flex;
  width: 48px;
  height: 48px;
  padding: 17px 16px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  }

 .product-card-image {
  margin-bottom: 16px;
  max-width: 100%;
  height: auto;
 }

.product-card-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0 0 16px 0;
  padding: 0;
}

.product-card-link {
  text-decoration: none;
}

.card-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 20px;
}

.price {
  justify-self: end;
}

.product-list-more-info-button {
  display: block;
  padding: 8px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
}

.product-list-top-button {
  display: block;
  padding: 8px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #82b3d3;
  text-transform: uppercase;
  text-decoration: none;
}

.product-list-top-button-green {
  display: block;
  padding: 8px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #7db54f;
  text-transform: uppercase;
  text-decoration: none;
}

.rating {
  display: block;
  padding-top: 8px;
  padding-bottom: 9px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  background-color: #e6e6e6;
  text-transform: uppercase;
  border-radius: 4px;
}

.subscribe-inner {
  padding: 96px 258px 104px;
}

.subscribe-title-inner {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  padding: 0;
  margin: 0 0 20px 0;
}

.subscribe-description-inner {
  text-align: center;
  color: #000000;
  padding: 0;
  margin: 0 0 54px 0;
}

.field-email {
  width: 452px;
  height: 52px;
  padding: 16px 345px 16px 20px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #f2f2f2;
  border: 0;
}

.htmlacademy-link {
  width: 115px;
}

.product-list {
  margin: 0 0 40px 0;
  padding: 0 0 40px 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  border-bottom: 1px solid #000;
}

.product-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  padding: 20px;
}

.pagination {
  display: grid;
  grid-template-columns: repeat(auto-fill, 60px);
  gap: 8px;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;

}

.pagination-link {
  width: 60px;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-decoration: none;
  background-color: #82b3d3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.pagination-current {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination-divider {
  background-color: #ffffff;
  color: #000000;
}
